h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-decoration: underline;
    margin-left: 25%;
    margin-right: 25%;
}

h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-decoration: underline;
    margin-left: 25%;
    margin-right: 25%;
}

.image {
    text-align: center;
}

ul {
    text-align: center;
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-top: 1%;
    font-size: large;
}